
@{
    ViewBag.Title = "mostrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="card">
        <div class="card-header">
            <i class="fas fa-tag"></i>
            Artículos: Agregado de impuesto especial sobre producción y servicios
        </div>
        <div class="card-body">
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                <div class="card-title">
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="txt-grp-sm">buscar artículo:</span>
                        <input id="txt_codigo_barras" type="text" class="form-control" aria-label="busqueda de artículos" placeholder="Ingresa el codigo de barras" aria-describedby="txt-grp-sm">
                        <button class="btn btn-outline-secondary" type="button" id="txt-grp-sm">Buscar</button>
                    </div>
                </div>
            </div>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>

